body {
    background: #f8f9fa;
    }

.cor-principal{
    color: crimson;
}

h1{
    font-weight: 900;
    height: 36px;
    margin: 0;
    line-height: 0.8;
}

section .container .col-lg-12{
    background-color: white;
}